@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'customfont';
    src: url('font.ttf');
  }
  @font-face {
    font-family: 'Cocogoose';
    src: url('font1.ttf');
    font-style: inline;
    font-weight: 900;
    font-size: 1ch;
  }
body{
    background-image: url('pictures/bg.png');
    background-position: 0 0;
    background-repeat: repeat;
}
@font-face {
  font-family: 'customfont';
  src: url('font.ttf');
}
@font-face {
  font-family: 'customfont2';
  src: url('font2.otf');
}
body {
  font-family: 'Montserrat', sans-serif;

  margin: 0;
  background-image: url('pictures/bg.png');
  
  position: inherit;

}
/* Navbar */
.nav-section{
  position: sticky;
  top:0;
  z-index: 100;
  background-color:#0f0f0f;
  background: rgba(17, 17, 17, 0.42);
 border-radius:8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid rgba(17, 17, 17, 0.13);
}
.logo1
{
  height:100%;
}
.logo{
  display:inline-block;
  height:100%;
  width:80px;
  padding: 4px;
}
.item, img{
  height: 100% ;
  width:  100% ;
  /*border: 1px solid red; */
}

.nav-item{
  list-style: none;
}
.nav-item a{
  color:white;
  text-decoration: none;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 23px;
  left: 4px;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover
{
  color:#e82020;
  
}
.navbar{
min-height: 70px;
display: flex;
/* align-items: center; */
justify-content: space-between;
align-items: center;
padding: 0 48px !important;

}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  color:#FC9918;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width:25px;
  height: 3px;
  margin:5px auto;
  -webkit-transition:all 0.3s ease-in-out ;
  transition:all 0.3s ease-in-out ;
  background-color: white;
}
@media(max-width:768px){
  .nav-section{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius:8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(17, 17, 17, 0.13);
  }
  .navbar a:hover
{
  color:#FC9918;
  
}
.navbar {
  padding: 10px !important;
}
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left:-100%;
    top:90px;
    gap:0;
    flex-direction: column;
    background-color:#e82020;
    width:100%;
    text-align:center;
    transition: 0.3s;
    z-index: 100;
  }

  .nav-item{
    margin:16px 0;
  }
  .nav-menu.active{
    left:0;
  }

}
* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
.heading{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'customfont';
    font-size: 8vw;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
 }

 /* footer */
 .footer {
  background: #3b3b3b;
  /* margin-top: 100px; */
  padding: 30px 0;
}

.footer:after {
  content: "";
  display: block;
  clear: both;
}

.footer ul {
  float: left;
  padding: 0;
  list-style-type: none;
  color: #eee;
  width: 23%;
  margin-right: 2%;
}

.footer li {
  margin: 10px 0;
}

.footer anav
 {
  color: #eee;
  text-decoration: none;
}
#footer {
  background: #0f0f0f;
  font-family: 'Montserrat', sans-serif;
  
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  font-weight: 700;
  color:#e82020;
  position: relative;
  font-family: 'customfont', sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 1rem;
  /* font-style: italic; */
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #FC9918;
  box-shadow: inset 0 0 0 0 #FC9918;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background:#FC9918;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

#footer .credits a {
  color: #FC9918;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #FC9918;
}





.contact-form-container {
  background-image: url('pictures/bg.png');
  font-family: 'customfont';
}
.abc
{
  font-family: 'Brush Script MT (cursive)';
}

.contact-us {
  position: relative;
  width: 250px;
  background-image: url('pictures/bg2.png');
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
.contact-us:before {
  position: absolute;
  content: "";
  bottom: -50px;
  left: -100px;
  height: 250px;
  width: 400px;
  background: #FC9918;
  transform: rotate(25deg);
}
.contact-us:after {
  position: absolute;
  content: "";
  bottom: -80px;
  right: -100px;
  height: 270px;
  width: 400px;
  background: #9ED8EB;
  transform: rotate(-25deg);
}

.contact-header {
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  top: 120px;
  left: -40px;
}
.contact-header h1 {
  font-size: 1.5rem;
}

.social-bar {
  position: absolute;
  bottom: 20px;
  left: 75px;
  z-index: 1;
  width: 100px;
}
.social-bar ul {
  list-style-type: none;
}
.social-bar ul li {
  display: inline-block;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: -4px;
  font-size: 1.2rem;
}

.header {
  text-align: center;
  padding: 20px 0;
  color: white;
}
.header h1 {
  font-weight: normal;
}
.header h2 {
  margin-top: 10px;
  font-weight: 300;
}

.address, .email, .phone {
  text-align: center;
  padding: 20px 0;
  color: white;
}
.address h3, .email h3, .phone h3 {
  font-size: 1rem;
  font-weight: 300;
}
.address i, .email i, .phone i {
  color: #FC9918;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

form {
  position: relative;
  width: 440px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-image: url('pictures/bg2.png');
}
form input, form textarea {
  display: block;
  margin: 20px auto;
  width: 100%;
  border: 0;
}
form input {
  height: 40px;
  line-height: 40px;
  outline: 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  font-size: 1rem;
  color: rgba(68, 68, 68, 0.8);
}
form textarea {
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  resize: none;
  outline: none;
  font-size: 1rem;
  font-family: lato;
  color: rgba(68, 68, 68, 0.8);
}
form button {
  position: absolute;
  display: block;
  height: 40px;
  width: 250px;
  left: 95px;
  border: 0;
  border-radius: 20px;
  bottom: -20px;
  background: #e82020;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  outline: none;
}

.contact-form {
  padding-bottom: 40px;
}